Repository B3Partners/brmo, pull requests merged in 2018-08, with the labels that each got.

#479 Herstel integratietest procedures tegen oracle
  .jenkins/db-grant-topnl.sql
  .jenkins/db-prepare-rsgb.sh
  .jenkins/db-prepare-rsgbbgt.sh
  .jenkins/db-prepare-staging.sh
  .jenkins/db-prepare-topnl.sh
  .travis.yml
  Jenkinsfile
  appveyor.yml
  bgt-gml-loader/src/test/resources/oracle.properties
  brmo-commandline/src/test/resources/oracle.properties
  brmo-loader/src/test/resources/oracle.properties
  brmo-service/src/test/resources/oracle.properties
  brmo-soap/src/test/resources/oracle.properties
  brmo-stufbg204/src/test/resources/oracle.properties
Labels: bouw- en testinfrastuctuur, oracle

#480 test dependency en maven plugin updates
  pom.xml
Labels: bouw- en testinfrastuctuur

#482 Travis-CI tweaking
  .mvn/owasp-suppression.xml
  .travis.yml
  pom.xml
Labels: bouw- en testinfrastuctuur

#484 testcases met geanonimiseerde data voor NHR v2.5 tbv. vergelijk v3.0
  brmo-loader/src/test/java/nl/b3p/NhrToStagingToRsgbIntegrationTest.java
  brmo-loader/src/test/resources/nhr-v2.5/.gitignore
  brmo-loader/src/test/resources/nhr-v2.5/16029104.anon.xml
  brmo-loader/src/test/resources/nhr-v2.5/34122633,32076598.anon.xml
  brmo-loader/src/test/resources/nhr-v2.5/40480283.anon.xml
  brmo-loader/src/test/resources/nhr-v2.5/52019667.anon.xml
  brmo-loader/src/test/resources/postgis.properties
Labels: NHR, bouw- en testinfrastuctuur

#486 Sla TopNLIntegrationTest over op de Jenkins server
  Jenkinsfile
Labels: BRT / TOPNL, bouw- en testinfrastuctuur, oracle

#490 BGT transform gmllight fix
  Jenkinsfile
  bgt-gml-loader/pom.xml
  bgt-gml-loader/src/main/java/nl/b3p/brmo/loader/gml/BGTGMLLightLoader.java
  bgt-gml-loader/src/main/java/nl/b3p/brmo/loader/gml/GMLLightFeatureTransformer.java
  bgt-gml-loader/src/main/java/nl/b3p/brmo/loader/gml/light/GMLLightFeatureTransformerImpl.java
  bgt-gml-loader/src/main/xsl/datamodel_ddl.xsl
  bgt-gml-loader/src/test/java/nl/b3p/brmo/loader/gml/BGTGMLLightLoaderIntegrationTest.java
  bgt-gml-loader/src/test/java/nl/b3p/brmo/loader/gml/BGTGMLLightLoaderUpdateIntegrationTest.java
  bgt-gml-loader/src/test/java/nl/b3p/brmo/loader/gml/Mantis11620GmlLightLoaderIntegrationTest.java
  bgt-gml-loader/src/test/resources/mantis-11620/bgt_wegdeel.gml
  brmo-loader/src/main/java/nl/b3p/brmo/loader/BrmoFramework.java
  brmo-loader/src/main/java/nl/b3p/brmo/loader/util/BGTLightRsgbTransformer.java
  datamodel/upgrade_scripts/1.5.2-1.6.0/oracle/rsgbbgt.sql
  datamodel/upgrade_scripts/1.5.2-1.6.0/postgresql/rsgbbgt.sql
  datamodel/upgrade_scripts/1.5.2-1.6.0/sqlserver/rsgbbgt.sql
Labels: BGT, bug :bomb:, datamodel, rsgbbgt

#495 bsn hashing voor identif waarde
  brmo-loader/src/main/java/nl/b3p/brmo/loader/entity/NhrBericht.java
  brmo-loader/src/main/java/nl/b3p/brmo/loader/xml/NhrXMLReader.java
  brmo-loader/src/main/resources/xsl/nhr-object-ref-3.0.xsl
  brmo-loader/src/main/resources/xsl/nhr-to-rsgb-xml-3.0.xsl
  brmo-loader/src/test/java/nl/b3p/NhrToStagingToRsgbIntegrationTest.java
Labels: NHR, enhancement :+1:, security

#504 Versie 2 BAG / BRK scripts voor MS SQL Server
  datamodel/extra_scripts/sqlserver/106_bag_views.sql
  datamodel/extra_scripts/sqlserver/107_brk_views.sql
Labels: BAG, BRK, MS SQL Server, datamodel, rsgb

#434 Versie 2 van de bag en brk views
  brmo-dist/assembly.xml
  brmo-soap/src/main/java/nl/b3p/brmo/soap/db/EigendomInfo.java
  datamodel/datamodel.xsl
  datamodel/extra_scripts/oracle/105_appartements_rechten.sql
  datamodel/extra_scripts/oracle/106_bag_views.sql
  datamodel/extra_scripts/oracle/107_brk_views.sql
  datamodel/extra_scripts/oracle/120_increase_identifsize.sql
  datamodel/extra_scripts/oracle/206_bag_views.sql
  datamodel/extra_scripts/oracle/207_brk_views.sql
  datamodel/extra_scripts/postgresql/105_appartements_rechten.sql
  datamodel/extra_scripts/postgresql/106_bag_views.sql
  datamodel/extra_scripts/postgresql/107_brk_views.sql
  datamodel/extra_scripts/postgresql/120_increase_identifsize.sql
  datamodel/extra_scripts/postgresql/206_bag_views.sql
  datamodel/extra_scripts/postgresql/207_brk_views.sql
  datamodel/extra_scripts/sqlserver/105_appartements_rechten.sql
  datamodel/extra_scripts/sqlserver/106_bag_views.sql
  datamodel/extra_scripts/sqlserver/107_brk_views.sql
  datamodel/extra_scripts/sqlserver/120_increase_identifsize.sql
  datamodel/extra_scripts/sqlserver/206_bag_views.sql
  datamodel/extra_scripts/sqlserver/207_brk_views.sql
  datamodel/generated_scripts/datamodel.xml
Labels: enhancement :+1:, rsgb
