Repository B3Partners/brmo, pull requests merged in 2018-06, with the labels that each got.

#458 Update GDS2OphalenProces.java
  brmo-service/src/main/java/nl/b3p/brmo/service/scanner/GDS2OphalenProces.java
Labels: brmo-service, bug :bomb:

#462 Gebruik `INGESCHREVEN NATUURLIJK PERSOON` als clazz voor /snp:KadastraalObjectSnapshot/gba:NietIngezetene
  brmo-loader/src/main/resources/xsl/brk-snapshot-to-rsgb-xml.xsl
  brmo-loader/src/main/resources/xsl/update-niet_ingezetene-clazz.xsl
  brmo-loader/src/test/java/nl/b3p/Mantis11180IntegrationTest.java
  brmo-loader/src/test/resources/mantis11180/staging.xml
  brmo-service/src/main/java/nl/b3p/brmo/service/stripes/UpdatesActionBean.java
Labels: BRK, brmo-service, bug :bomb:

#466 Gebruik `INGESCHREVEN NATUURLIJK PERSOON` als clazz voor /snp:KadastraalObjectSnapshot/gba:NietIngezetene [1.5.2.x backport]
  .travis.yml
  brmo-loader/src/main/resources/xsl/brk-snapshot-to-rsgb-xml.xsl
  brmo-loader/src/main/resources/xsl/update-niet_ingezetene-clazz.xsl
  brmo-loader/src/test/java/nl/b3p/Mantis11180IntegrationTest.java
  brmo-loader/src/test/resources/mantis11180/staging.xml
  brmo-service/src/main/java/nl/b3p/brmo/service/stripes/UpdatesActionBean.java
Labels: BRK, brmo-service, bug :bomb:

#467 Betere afhandeling van duplicaat BAG laadprocessen die door Kadaster via GDS2 (toch) geleverd worden
  brmo-loader/src/main/java/nl/b3p/brmo/loader/BrmoFramework.java
  brmo-service/src/main/java/nl/b3p/brmo/service/scanner/GDS2OphalenProces.java
Labels: BRK, brmo-service, enhancement :+1:

#468 betere afhandeling van duplicaat BAG laadprocessen die door Kadaster via GDS2 toch geleverd worden
  brmo-loader/src/main/java/nl/b3p/brmo/loader/BrmoFramework.java
  brmo-service/src/main/java/nl/b3p/brmo/service/scanner/GDS2OphalenProces.java
Labels: BRK, brmo-service, enhancement :+1:
