Repository B3Partners/brmo, pull requests merged in 2022-06, with the labels that each got.

#1436 Fix BGT updates for Oracle because table_prefix saved as '' is changed to NULL when reading back
  bgt-loader/src/main/java/nl/b3p/brmo/bgt/loader/cli/DownloadCommand.java
Labels: bug, Oracle, BGT, rsgbbgt, bgt-loader

#1434 NHR: misc fixes
  brmo-service/src/main/java/nl/b3p/brmo/service/jobs/NHRJob.java
  brmo-service/src/main/webapp/scripts/nhr.js
Labels: bug, NHR

#1444 Migratie bestanden aanmaken voor upgrade 2.3.0-2.3.1
  datamodel/upgrade_scripts/2.3.0-2.3.1/oracle/bag.sql
  datamodel/upgrade_scripts/2.3.0-2.3.1/oracle/rsgb.sql
  datamodel/upgrade_scripts/2.3.0-2.3.1/oracle/rsgbbgt.sql
  datamodel/upgrade_scripts/2.3.0-2.3.1/oracle/staging.sql
  datamodel/upgrade_scripts/2.3.0-2.3.1/postgresql/bag.sql
  datamodel/upgrade_scripts/2.3.0-2.3.1/postgresql/rsgb.sql
  datamodel/upgrade_scripts/2.3.0-2.3.1/postgresql/rsgbbgt.sql
  datamodel/upgrade_scripts/2.3.0-2.3.1/postgresql/staging.sql
Labels: bouw- en testinfrastuctuur

#1445 voeg een centrale cleanup job toe in de workflow
  .github/workflows/linux.yml
Labels: bouw- en testinfrastuctuur
