Repository B3Partners/brmo, pull requests merged in 2022-11, with the labels that each got.

#1568 [BRMO-211] Maak referentie woz_obj aan voor waarde berichten
  brmo-loader/src/main/java/nl/b3p/brmo/loader/xml/WozXMLReader.java
  brmo-loader/src/main/resources/xsl/woz-to-rsgb.xsl
  brmo-loader/src/test/java/nl/b3p/WozXMLToStagingIntegrationTest.java
  brmo-loader/src/test/resources/woz/085800012189/085800012189.anon.xml
Labels: functie wens, WOZ

#1569 [BRMO-212] WOZ herverwerking functie
  brmo-loader/src/main/java/nl/b3p/brmo/loader/entity/Bericht.java
  brmo-loader/src/main/java/nl/b3p/brmo/loader/util/RsgbWOZTransformer.java
  brmo-loader/src/main/java/nl/b3p/brmo/loader/xml/WozXMLReader.java
  brmo-service/src/main/java/nl/b3p/brmo/service/stripes/AdvancedFunctionsActionBean.java
  brmo-test-util/src/main/java/nl/b3p/brmo/test/util/database/dbunit/CleanUtil.java
Labels: functie wens, brmo-service, WOZ

#1578 PostgreSQL 10 is nu EOL / wordt niet langer ondersteund
  .github/workflows/linux.yml
Labels: PostgreSQL, unsupported, taak

#1584 [BRMO-216] Vervang deprecated `openjdk:11-jre-slim` docker image door `eclipse-temurin:11.0.17_8-jre`
  bag2-loader/Dockerfile
  bgt-loader/Dockerfile
Labels: bgt-loader, bag2-loader

#1588 [BRMO-218] verwerken brondocumenten en persoonsgegevens uit `woz:isBeschiktVoor`
  brmo-loader/src/main/resources/xsl/woz-to-rsgb.xsl
  brmo-loader/src/test/java/nl/b3p/WozXMLToStagingIntegrationTest.java
Labels: NHR

#1561 GeoTools 28.x upgrade
  pom.xml
Labels: dependency update

#1595 [BRMO-223] Add last-byte-pos to Range header to fix PDOK partial download
  bgt-loader/src/main/java/nl/b3p/brmo/util/http/HttpSeekableByteChannel.java
  bgt-loader/src/main/java/nl/b3p/brmo/util/http/HttpStartRangeInputStreamProvider.java
Labels: bug, BGT

#1597 [SUPPORT-13357] Fix 2.3.1->2.3.2 Postgres upgrade syntax
  datamodel/upgrade_scripts/2.3.1-2.3.2/postgresql/rsgb.sql
Labels: rsgb
