Repository B3Partners/brmo, pull requests merged in 2022-09, with the labels that each got.

#1516 Update REUSE check config
  .github/workflows/linux.yml
  .github/workflows/reuse.yml
  nhr-loader/.reuse/dep5
  nhr-loader/pom.xml
  nhr-loader/src/main/java/nl/b3p/brmo/nhr/loader/NHRException.java
Labels: bouw- en testinfrastuctuur

#1517 Bump geotools.version 27.0 ➜ 27.1
  pom.xml
Labels: dependency update

#1477 brmo-service: properly strip quotes around KVK dossiernummers
  brmo-service/src/main/java/nl/b3p/brmo/service/jobs/NHREmailJob.java
  brmo-service/src/main/java/nl/b3p/brmo/service/stripes/NHRActionBean.java
Labels: bug, NHR

#1520 [BRMO-196] NHR RSGB eenmanszaak fix
  brmo-loader/src/main/resources/xsl/nhr-to-rsgb-xml-3.0.xsl
  brmo-loader/src/main/resources/xsl/update-kvk-koppeling.xsl
  brmo-loader/src/test/java/nl/b3p/NhrToStagingToRsgbIntegrationTest.java
  brmo-service/src/main/java/nl/b3p/brmo/service/stripes/UpdatesActionBean.java
Labels: bug, NHR
