Repository B3Partners/brmo, pull requests merged in 2023-01, with the labels that each got.

#1626 [BRMO-243][BRMO-241][BRMO-235] transformatie van mutaties
  .build/ci/pgsql-start-docker.sh
  .github/workflows/linux.yml
  brmo-loader/src/main/java/nl/b3p/brmo/loader/BrmoFramework.java
  brmo-loader/src/main/resources/xsl/brk2-snapshot-to-rsgb-xml.xsl
  brmo-loader/src/test/java/nl/b3p/Brk2StandMutatieGedeeldeStukkenVerwerkingIntegrationTest.java
  brmo-loader/src/test/java/nl/b3p/Brk2StandMutatieVerwerkingIntegrationTest.java
  brmo-loader/src/test/java/nl/b3p/Brk2ToStagingToRsgbBrkIntegrationTest.java
  brmo-loader/src/test/resources/brk2/mutatie-53880252170000-1.anon.xml
  brmo-loader/src/test/resources/brk2/mutatie-53880252670000-1.anon.xml
  brmo-loader/src/test/resources/brk2/mutatie-53910084370000-1.anon.xml
  brmo-loader/src/test/resources/brk2/mutatie-53910084370000-2.anon.xml
  brmo-loader/src/test/resources/brk2/stand-53880252170000.anon.xml
  brmo-loader/src/test/resources/brk2/stand-53880252670000.anon.xml
  brmo-loader/src/test/resources/brk2/stand-53910084370000.anon.xml
  brmo-loader/src/test/resources/log4j.xml
  brmo-service/src/main/webapp/WEB-INF/classes/log4j.properties
  brmo-test-util/src/main/java/nl/b3p/brmo/test/util/database/dbunit/CleanUtil.java
  datamodel/brk/brk2.0_oracle.sql
  datamodel/brk/brk2.0_postgresql.sql
  datamodel/brk/delete-brk2.0_oracle.sql
  datamodel/brk/delete-brk2.0_postgresql.sql
Labels: BRK

#1632 [BRMO-245] Documenteer de tabellen en kolommen
  .build/ci/oracle-setup.sh
  .build/ci/pgsql-setup.sh
  .jenkins/db-prepare-brk.sh
  datamodel/brk/brk2.0_commentaar.sql
  datamodel/brk/brk2.0_oracle.sql
  datamodel/brk/brk2.0_postgresql.sql
Labels: functie wens, datamodel, BRK

#1633 Update org.owasp:dependency-check-maven naar 7.4.4
  pom.xml
Labels: bouw- en testinfrastuctuur

#1636 [BRMO-253] Packaging en deployment updates
  .gitignore
  brmo-dist/assembly.xml
  datamodel/brk/README.md
  docker/README.md
  docker/docker-compose.yml
  docker/localhost.env
  docker/src/main/docker/Dockerfile
  docker/src/main/docker/env/tomcat
  docker/src/main/docker/pg_conf/Dockerfile
  docker/src/main/docker/pg_conf/docker-entrypoint-initdb.d/1-init-user-db.sh
  docker/src/main/docker/pg_conf/docker-entrypoint-initdb.d/2-create-schema.sh
  docker/src/main/docker/tomcat_conf/server.xml
Labels: BRK, bouw- en testinfrastuctuur, brmo-service

#1648 Update codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: bouw- en testinfrastuctuur

#1654 [BRMO-259] fix P8 API test welke nu geboortedatum met een verzonnen timestamp aanlevert
  datamodel/src/test/java/nl/b3p/brmo/datamodel/P8ServicesIntegrationTest.java
Labels: bug, rsgb

#1655 Bouw en publiceer de docker images voor de brmo-service stack
  .github/workflows/cleanup_and_maintainance.yml
  .github/workflows/linux-oracle.yml
  .github/workflows/linux.yml
  .github/workflows/upgrade-oracle.yml
  .github/workflows/upgrade-pgsql.yml
  bag2-loader/Dockerfile
  bag2-loader/pom.xml
  bgt-loader/Dockerfile
  bgt-loader/pom.xml
  brmo-dist/pom.xml
  docker/README.md
  docker/docker-compose.yml
  docker/pom.xml
  docker/src/main/docker/Dockerfile
  docker/src/main/docker/pg_conf/Dockerfile
  pom.xml
Labels: functie wens, bouw- en testinfrastuctuur

#1659 [BRMO-265] Fix `isBetrokkenBij` van Recht
  brmo-loader/src/main/resources/xsl/brk2-snapshot-to-rsgb-xml.xsl
Labels: bug, BRK

#1662 Bump GeoTools van 28.0 naar 28.1
  pom.xml
Labels: dependency update

#1664 [BRMO-264] Geen archieftabel voor publiekrechtelijkebeperking
  brmo-loader/src/main/resources/xsl/brk2-snapshot-to-rsgb-xml.xsl
  brmo-loader/src/test/java/nl/b3p/Brk2MutatieVerwijderVerwerkingIntegrationTest.java
  brmo-loader/src/test/java/nl/b3p/Brk2StandMutatieGedeeldeStukkenVerwerkingIntegrationTest.java
  brmo-loader/src/test/java/nl/b3p/Brk2StandMutatieVerwerkingIntegrationTest.java
  brmo-test-util/src/main/java/nl/b3p/brmo/test/util/database/dbunit/CleanUtil.java
  datamodel/brk/brk2.0_oracle.sql
  datamodel/brk/brk2.0_postgresql.sql
  datamodel/brk/delete-brk2.0_oracle.sql
  datamodel/brk/delete-brk2.0_postgresql.sql
Labels: bug, BRK

#1656 [BRMO-224] PostgreSQL views voor BRK schema
  .build/ci/oracle-setup.sh
  .build/ci/pgsql-setup.sh
  .jenkins/db-prepare-brk.sh
  brmo-dist/assembly.xml
  datamodel/brk/README.md
  datamodel/brk/brk2.0_commentaar.sql
  datamodel/brk/brk2.0_oracle_views.sql
  datamodel/brk/brk2.0_postgresql_views.sql
  datamodel/src/test/java/nl/b3p/brmo/datamodel/MaterializedViewsTest.java
  docker/README.md
  docker/src/main/docker/Dockerfile
  docker/src/main/docker/pg_conf/Dockerfile
  docker/src/main/docker/pg_conf/docker-entrypoint-initdb.d/2-create-schema.sh
Labels: functie wens, BRK

#1665 filter out some code from the sarif reporting
  .github/workflows/codeql-analysis.yml
Labels: bouw- en testinfrastuctuur

#1667 [BRMO-275] huisnummer bestaat uit maximaal 5 cijfers
  .gitignore
  datamodel/brk/README.md
  datamodel/brk/brk2.0_oracle.sql
  datamodel/brk/brk2.0_oracle_views.sql
  datamodel/brk/brk2.0_postgresql.sql
Labels: bug, BRK

#1679 [BRMO-268] Fix problems loading large BAG2/BGT stand directly from PDOK HTTPS server
  bgt-loader/src/main/java/nl/b3p/brmo/util/http/HttpSeekableByteChannel.java
  bgt-loader/src/main/java/nl/b3p/brmo/util/http/HttpStartRangeInputStreamProvider.java
  bgt-loader/src/test/java/nl/b3p/brmo/util/http/HttpStartRangeInputStreamProviderTest.java
Labels: bug, BAG, BGT, rsgbbgt, bgt-loader, bag2-loader

#1680 [BRMO-278] Vergroot komlombreedte voor Typen:som (bedragen) naar 20,2
  datamodel/brk/brk2.0_oracle.sql
  datamodel/brk/brk2.0_postgresql.sql
Labels: bug, BRK

#1668 [BRMO-257] Oracle BRK views
  datamodel/brk/brk2.0_oracle_views.sql
  datamodel/brk/brk2.0_postgresql_views.sql
  datamodel/src/test/java/nl/b3p/brmo/datamodel/MaterializedViewsTest.java
Labels: functie wens, BRK

#1602 Fix javadoc build voor bag2 loader
  .github/workflows/linux.yml
  bag2-loader/pom.xml
  brmo-commandline/pom.xml
  pom.xml
Labels: bouw- en testinfrastuctuur

#1684 Fix Non-synchronized override of synchronized method
  brmo-loader/src/main/java/nl/b3p/brmo/loader/BrmoFramework.java
Labels: bug

#1685 fix nog een paar ontbrekende overrides
  bgt-loader/src/main/java/nl/b3p/brmo/bgt/schema/BGTObject.java
  bgt-loader/src/main/java/nl/b3p/brmo/schema/SchemaObjectInstance.java
Labels: bug

#1683 Bump nl.b3p:kadaster-gds2 van 2.7 naar 3.0
  pom.xml
Labels: dependency update
