Repository B3Partners/brmo, pull requests merged in 2024-06, with the labels that each got.

#2142 Dependency updates
  .github/workflows/codeql-analysis.yml
  .github/workflows/linux-oracle.yml
  .github/workflows/linux.yml
  .github/workflows/owasp-dependency-check.yml
  .github/workflows/trivy.yml
  .github/workflows/upgrade-oracle.yml
  .github/workflows/upgrade-pgsql.yml
  .github/workflows/windows.yml
  pom.xml
Labels: bouw- en testinfrastuctuur, dependency update

#2149 Gebruik Oracle 23.4 in test scenario's
  .github/workflows/linux-oracle.yml
Labels: bouw- en testinfrastuctuur

#2150 Add reload4j so CLI prints log output again
  bag2-loader/pom.xml
Labels: bug, bag2-loader
